---
- name: Ensure Postgresql backup subdirectory exists
  ansible.builtin.file:
    path: "{{ postgresql_backup.directory }}"
    owner: "{{ postgresql.owner }}"
    group: "{{ postgresql.group }}"
    state: directory
    mode: "0700"

- name: Generate Postgresql backup script
  ansible.builtin.template:
    src: "run_db_backup.sh.j2"
    dest: "{{ postgresql_backup.script }}"
    owner: "{{ postgresql.owner }}"
    group: "{{ postgresql.group }}"
    mode: "0550"
    force: true

- name: "Ensure cron nightly backup exists for postgresql"
  ansible.builtin.cron:
    name: "postgresql backup"
    user: "{{ postgresql.owner }}"
    minute: "0"
    hour: "2"
    job: "{{ postgresql_backup.script }}"
