---
- name: Check monitoring host
  hosts: monitoring_host
  become: true
  gather_facts: true
  tasks:
    - name: Check alertmanager exporter container is running
      community.docker.docker_container_info:
        name: alertmanager
      register: result
      failed_when: "'exists' not in result.exists"

    - name: Check blackbox exporter container is running
      community.docker.docker_container_info:
        name: blackbox-exporter
      register: result
      failed_when: "'exists' not in result.exists"

    - name: Check cadvisor container is running
      community.docker.docker_container_info:
        name: cadvisor
      register: result
      failed_when: "'exists' not in result.exists"

    - name: Check Grafana container is running
      community.docker.docker_container_info:
        name: grafana
      register: result
      failed_when: "'exists' not in result.exists"

    - name: Check nginx container is running
      community.docker.docker_container_info:
        name: nginx
      register: result
      failed_when: "'exists' not in result.exists"

    - name: Check Prometheus container is running
      community.docker.docker_container_info:
        name: prometheus
      register: result
      failed_when: "'exists' not in result.exists"

- name: Check monitoring client
  hosts: monitoring_client
  become: true
  gather_facts: true
  tasks:
    - name: Populate service facts
      ansible.builtin.service_facts:

    - name: Ensure that node exporter has started
      ansible.builtin.assert:
        that:
          - monitoring_client_node_export_service_name in ansible_facts.services
