---
postgresql_client:
  server_certificate_filename: /opt/omero/server/.postgresql/root.crt # where to copy the server certificate to on the client

# mirsg.ssl_certificates
postgresql_client_ssl_certificate:
  owner: "{{ omero_server_system_user }}"
  group: "{{ omero_server_system_user }}"
  certificate_directory: /opt/omero/server/.postgresql
  privatekey_filename: /opt/omero/server/.postgresql/postgresql.key
  use_pk8: true
  pk8_filename: /opt/omero/server/.postgresql/postgresql.pk8
  csr_filename: /opt/omero/server/.postgresql/postgresql.csr
  csr_common_name: "{{ web_server.host }}"
  certificate_filename: /opt/omero/server/.postgresql/postgresql.crt
  provider: selfsigned
  selfsigned_not_after: +3650d
  cache_filename: "{{ database_client_certificate_cache_filename }}" # where to store the client certificate in cache

# firewalld
firewalld_internal_zone_open_services:
  - http
  - https
  - ssh
firewalld_public_zone_open_services:
  - http
  - https
firewalld_work_zone_open_services:
  - http
  - https
firewalld_internal_zone_ports:
  - 4063
  - 4064
firewalld_work_zone_ports:
  - 4063
  - 4064

# ome.common
omero_common_basedir: /opt/omero

# ome.omero_server
omero_server_system_user: omero-server
omero_server_database_backupdir: "{{ web_server.storage_dir }}/upgrade_backups"
omero_server_basedir: "{{ omero_common_basedir }}/server"
# set rootpassword in vault
omero_server_rootpassword: "{{ vault_omero_rootpassword }}"
omero_server_java_keystore_path: /usr/lib/jvm/jre/lib/security/cacerts/
omero_server_dbhost: "{{ web_server.dbhost }}"
omero_server_dbuser: "{{ db_server.postgresql_user }}"
omero_server_dbname: "{{ db_server.postgresql_database }}"
omero_server_dbpassword: "{{ db_server.postgresql_password }}"
omero_server_datadir: "{{ web_server.storage_dir }}"

omero_server_default_config:
  omero.db.poolsize: "{{ db_server.poolsize }}"
  omero.db.properties:
    ssl={{ postgresql_use_ssl }}&sslmode={{ postgresql_ssl_mode }}

omero_server_config_set:
  "{{ omero_server_default_config |
  ansible.builtin.combine(omero_server_additional_config | default({})) }}"

# ome.omero_web
# don't install nginx using ome.omero_web role
# nginx conf and ssl certs will be handled in
# internal nginx role
omero_web_setup_nginx: false

omero_web_apps_names:
  - omero_iviewer

omero_web_apps_packages:
  - omero-iviewer==0.13.0

omero_web_apps_config_append:
  omero.web.open_with:
    - - omero_iviewer
      - omero_iviewer_index
      - script_url: omero_iviewer/openwith.js
        supported_objects:
          - image
          - dataset
          - well
        label: OMERO.iviewer

omero_web_default_config:
  omero.web.viewer.view: omero_iviewer.views.index

omero_web_config_set:
  "{{ omero_web_default_config |
  ansible.builtin.combine(omero_web_additional_config | default({})) }}"

# mirsg.infrastructure.nginx
nginx_server_name: "{{ web_server.host }}"
nginx_use_ssl: "{{ ssl.use_ssl }}"
nginx_server_cert_cache: "{{ ssl.server_cert }}"
nginx_server_key_cache: "{{ ssl.server_key }}"

# ome.omero_user
omero_user_create:
  "{{ omero_service_user + (omero_additional_users | default([])) }}"
omero_user_system: "{{ omero_server_system_user }}"
omero_user_admin_user: root
omero_user_admin_pass: "{{ omero_server_rootpassword }}"
