[Unit]
Description=Node Exporter
Documentation=https://prometheus.io/
After=syslog.target network.target

[Service]
User= {{ monitoring_client_owner }}
Group= {{ monitoring_client_group }}

ExecStart={{ monitoring_client_node_exporter_install_dir }}/node_exporter --web.config={{ monitoring_client_node_exporter_web_config }}

[Install]
WantedBy=multi-user.target
