---
- name: Check mounts are available
  tags: restart
  ansible.builtin.include_tasks: check_mounts.yml
  when: external_storage_drive is defined

- name: Set up for specific distribution
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"

- name: Upgrade all packages # noqa: package-latest
  ansible.builtin.yum:
    name: "*"
    state: latest
  tags:
    - molecule-idempotence-notest

- name: Ensure epel is installed
  become: true
  ansible.builtin.yum:
    name: epel-release
    state: installed
