---
monitoring_server_ssl_certificate:
  owner: "{{ monitoring_server_cert_owner }}"
  group: "{{ monitoring_server_cert_group }}"
  certificate_directory: /etc/ssl/certs
  privatekey_filename: "/etc/ssl/certs/{{ hostvars['mserv']['hostname'] }}.key"
  use_pk8: false
  csr_filename: "/etc/ssl/certs/{{ hostvars['mserv']['hostname'] }}.csr"
  csr_common_name: "{{ hostvars['mserv']['hostname'] }}"
  certificate_filename:
    "/etc/ssl/certs/{{ hostvars['mserv']['hostname'] }}.cert"
  provider: selfsigned
