---
- name: Ensure passlib is installed on centos7
  ansible.builtin.yum:
    name: python-passlib
    state: present
  when:
    ansible_facts['os_family'] == "RedHat" and
    ansible_facts['distribution_major_version'] is version("7")

- name: Ensure passlib is installed on rocky9
  ansible.builtin.yum:
    name: python3-passlib
    state: present
  when:
    ansible_facts['os_family'] == "RedHat" and
    ansible_facts['distribution_major_version'] is version("9")

- name: Ensure nginx certs directory exists on host
  ansible.builtin.file:
    path: "{{ monitoring_server_nginx.certs_dir }}"
    owner: "{{ monitoring_server_nginx.owner }}"
    group: "{{ monitoring_server_nginx.group }}"
    state: directory
    mode: "0700"

- name: Add a user to a password file and ensure permissions are set
  community.general.htpasswd:
    path: /etc/nginx/.htpasswd
    name: "{{ monitoring_server_admin_username }}"
    password: "{{ monitoring_server_admin_password }}"
    owner: "{{ monitoring_server_nginx.owner }}"
    group: "{{ monitoring_server_nginx.group }}"
    mode: "0644"

- name: Copy server certificates to nginx
  ansible.builtin.copy:
    remote_src: true
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ monitoring_server_nginx.owner }}"
    group: "{{ monitoring_server_nginx.group }}"
    mode: "0644"
  with_items:
    - src: "{{ monitoring_server_ssl_cert }}"
      dest: "{{ monitoring_server_nginx.ssl_cert_file }}"
    - src: "{{ monitoring_server_ssl_key }}"
      dest: "{{ monitoring_server_nginx.ssl_key_file }}"
  notify:
    - Restart nginx

- name:
    Generate Diffie-Hellman (DH) parameters with bits - {{
    monitoring_server_nginx.diffie_helman_size_bits }}
  community.crypto.openssl_dhparam:
    path: "{{ monitoring_server_nginx.dh_params_file }}"
    size: "{{ monitoring_server_nginx.diffie_helman_size_bits }}"
  notify:
    - Restart nginx

- name: Copy nginx config file
  ansible.builtin.template:
    src: monitoring_server_nginx.j2
    dest: "{{ monitoring_server_nginx.conf_file }}"
    owner: "{{ monitoring_server_nginx.owner }}"
    group: "{{ monitoring_server_nginx.group }}"
    mode: "0644"
    force: true
  notify:
    - Restart nginx

- name: Start Nginx container
  community.docker.docker_container:
    name: nginx
    hostname: nginx
    image: nginx@sha256:6af79ae5de407283dcea8b00d5c37ace95441fd58a8b1d2aa1ed93f5511bb18c
    state: started
    networks:
      - name: monitor-net
    ports:
      - 80:80
      - 443:443
    volumes:
      - /etc/nginx/.htpasswd:/etc/nginx/.htpasswd
      - "{{ monitoring_server_nginx.conf_file }}:/etc/nginx/nginx.conf:ro"
      - "{{ monitoring_server_nginx.certs_dir }}:/etc/nginx/ssl"
      - "{{ monitoring_server_nginx.log_folder }}:/var/log/nginx"
    restart_policy: always
