---
- name: Ensure blackbox_exporter data directory exists
  ansible.builtin.file:
    path: "{{ monitoring_server_storage_root }}/blackbox-exporter"
    owner: "{{ monitoring_server_owner }}"
    group: "{{ monitoring_server_group }}"
    state: directory
    mode: "0700"

- name: Copy blackbox_exporter config file
  ansible.builtin.template:
    src: templates/blackbox-exporter.yml.j2
    dest:
      "{{ monitoring_server_storage_root
      }}/blackbox-exporter/blackbox-exporter.yml"
    owner: "{{ monitoring_server_owner }}"
    group: "{{ monitoring_server_group }}"
    mode: "0644"

- name: Start blackbox_exporter container
  community.docker.docker_container:
    name: blackbox-exporter
    hostname: blackbox-exporter
    image: prom/blackbox-exporter@sha256:a50c4c0eda297baa1678cd4dc4712a67fdea713b832d43ce7fcc5f9bea05094d
    state: started
    user: "{{ monitoring_server_uid }}:{{ monitoring_server_gid }}"
    command: --config.file=/config/blackbox-exporter.yml
    networks:
      - name: monitor-net
    volumes:
      - "{{ monitoring_server_storage_root
        }}/blackbox-exporter/blackbox-exporter.yml:/config/blackbox-exporter.yml"
    restart_policy: always
