---
- name: Build `monitoring_server_client_hostnames` from `monitoring_client` group
  ansible.builtin.set_fact:
    # Get hosts in the `monitoring_client`
    monitoring_server_client_hostnames: >
      {{
      item |
      map('extract', hostvars, monitoring_server_hostname_extractor)
      }}
  loop:
    - "{{ groups['monitoring_client'] | default([]) }}"
  failed_when: monitoring_server_client_hostnames | length == 0

- name: Find web servers in `monitoring_client` group
  ansible.builtin.set_fact:
    # Get any hosts in the `monitoring_client` that are
    # also in the `web` group
    monitoring_server_web_clients: >
      {{
      item |
      intersect(groups['web']) |
      map('extract', hostvars, monitoring_server_hostname_extractor) |
      map('regex_replace', '^', 'https://')
      }}
  loop:
    - "{{ groups['monitoring_client'] | default([]) }}"
  failed_when: monitoring_server_web_clients | length == 0

- name: Add monitoring_server group
  ansible.builtin.group:
    name: "{{ monitoring_server_group }}"
    gid: "{{ monitoring_server_gid }}"

- name: Add monitoring_server user
  ansible.builtin.user:
    name: "{{ monitoring_server_owner }}"
    group: "{{ monitoring_server_group }}"
    uid: "{{ monitoring_server_uid }}"
    create_home: false
    system: true

- name: Install Docker SDK for Python
  ansible.builtin.pip:
    name:
      - docker
  notify:
    - Restart docker

- name: Ensure docker service restarts after Docker SDK is installed
  ansible.builtin.meta: flush_handlers

- name: Create a network
  community.docker.docker_network:
    name: monitor-net

- name: Install and configure Nginx container
  ansible.builtin.include_tasks: install_nginx_container.yml

- name: Install and configure Prometheus container
  ansible.builtin.include_tasks: install_prometheus_container.yml

- name: Install and configure Blackbox Exporter container
  ansible.builtin.include_tasks: install_blackbox_exporter_container.yml

- name: Install and configure cadvisor container
  ansible.builtin.include_tasks: install_cadvisor_container.yml

- name: Install and configure Grafana container
  ansible.builtin.include_tasks: install_grafana_container.yml

- name: Install and configure alertmanager container
  ansible.builtin.include_tasks: install_alertmanager_container.yml
