---
dependency:
  name: galaxy
  options:
    force: true
    role-file: ${MOLECULE_SCENARIO_DIRECTORY}/../../../meta/requirements.yml
    requirements-file: ${MOLECULE_SCENARIO_DIRECTORY}/../../../meta/requirements.yml

driver:
  name: docker

platforms:
  - name: mclient
    hostname: molecule.mclient.local
    image: ${MOLECULE_DOCKER_IMAGE:-geerlingguy/docker-centos7-ansible:latest}
    required: true
    command: ""
    cgroupns_mode: host
    privileged: true
    pre_build_image: ${MOLECULE_PRE_BUILD_IMAGE:-true}
    volumes:
      - ./molecule-data:/storage/molecule
    keep_volumes: false
    groups:
      - all
      - monitoring_client
      - monitoring_service
      - centos7
    docker_networks:
      - name: monitoring
        ipam_config:
          - subnet: 192.168.56.0/24
            gateway: 192.168.56.1
    networks:
      - name: monitoring
        ipv4_address: 192.168.56.2
    etc_hosts:
      molecule.mserv.local: 192.168.56.3

  - name: mserv
    hostname: molecule.mserv.local
    image: ${MOLECULE_DOCKER_IMAGE:-geerlingguy/docker-centos7-ansible:latest}
    required: true
    command: ""
    cgroupns_mode: host
    privileged: true
    pre_build_image: ${MOLECULE_PRE_BUILD_IMAGE:-true}
    volumes:
      - ./molecule-data:/storage/molecule
    keep_volumes: false
    groups:
      - all
      - monitoring_host
      - monitoring_service
      - centos7
    networks:
      - name: monitoring
        ipv4_address: 192.168.56.3
    exposed_ports:
      - 80
      - 443
    etc_hosts:
      molecule.mclient.local: 192.168.56.2

provisioner:
  name: ansible
  log: true
  config_options:
    defaults:
      callbacks_enabled: profile_tasks, timer
      result_format: yaml
    tags:
      run: ${MOLECULE_RUN_TAGS:-all}
  inventory:
    links:
      hosts: ../resources/monitoring/inventory/hosts.yml
      group_vars: ../resources/monitoring/inventory/group_vars/
      host_vars: ../resources/monitoring/inventory/host_vars/
  playbooks:
    converge: ../resources/monitoring/converge.yml
    prepare: ../resources/monitoring/prepare.yml
    verify: ../resources/monitoring/verify.yml
  env:
    ANSIBLE_VERBOSITY: "1"
    ANSIBLE_ROLES_PATH: ${MOLECULE_SCENARIO_DIRECTORY}/../../../roles/:~/.ansible/roles
    ANSIBLE_COLLECTIONS_PATH: ${MOLECULE_SCENARIO_DIRECTORY}/../../../../../../:~/.ansible/collections

verifier:
  name: ansible
  env:
    ANSIBLE_VERBOSITY: "1"

lint: |
  set -e
  yamllint .
  ansible-lint .
