---
- name: Setup for roles
  hosts: all
  gather_facts: true
  pre_tasks:
    - name: Install sudo
      ansible.builtin.package:
        name: sudo
        state: present
  roles:
    - role: mirsg.infrastructure.provision
  tasks:
    - name: Install crontabs
      ansible.builtin.dnf:
        name: cronie
        state: present
        use_backend: dnf5

    - name: Start crontabs service
      ansible.builtin.service:
        name: crond.service
        state: started
        enabled: true
