groups:
  - name: tls-expiry
    rules:
      - alert: SSLCertExpiringSoon
        expr: probe_ssl_earliest_cert_expiry - time() < 60 * 60 * 24 * 14
        for: 1m
        labels:
          severity: warning
        annotations:
          description: "TLS certificate will expire in {{ $value | humanizeDuration }} (instance {{ $labels.instance }})"

  - name: down-detector
    rules:
      - alert: EndpointDown
        expr: probe_success == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Endpoint {{ $labels.instance }} down"

      - alert: InstanceDown
        expr: up == 0
        for: 5m
        labels:
          severity: high
        annotations:
          summary: "{{ $labels.job }} instance {{ $labels.instance }} down"
          description: "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 5 minutes."

  - name: metrics
    rules:
      - alert: MemoryUsageHigh
        expr: 100- node_memory_MemAvailable_bytes/node_memory_MemTotal_bytes*100 > 90
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: Instance memory usage high (Instance:{{ $labels.instance }})
          description: "Instance memory usage more than 90% within 5 minutus, value:{{ $labels.value }}%"

      - alert: CpuLoadHigh
        expr: 100 - avg by(instance)(rate(node_cpu_seconds_total{mode="idle"}[5m]))*100 > 90
        for: 0m
        labels:
          severity: warning
        annotations:
          summary: Instance cpu load high (Instance:{{ $labels.instance }})
          description: "Instance cpu load more than 90% within 5 minutes, value: {{ $labels.value }}%"

      - alert: FilesystemFull
        expr: 100 - node_filesystem_free_bytes{mountpoint!~"/*|/boot.*|/run.*"}/node_filesystem_size_bytes*100 > 90
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: Instance filestore disk space low (Instance:{{ $labels.instance }})
          description: "The used space of the mounted filestore (mountpoint:{{ $labels.mountpoint }}) is more than 90%, value: {{ $labels.value }}%"

      - alert: InodeUsageHigh
        expr: 100 - node_filesystem_files_free/node_filesystem_files*100 > 90
        for: 0m
        labels:
          severity: warning
        annotations:
          summary: Instance inode usage high (Instance:{{ $labels.instance }})
          description: "The used file nodes(inodes) of the filesystem(filesystem:{{ $labels.mountpoint }}) is more than 90%, value: {{ $labels.value }}%"
