name={{ xnat_ldap_name }}
provider.id=ldap1
auth.method=ldap
address={{ xnat_ldap_address }}
userdn={{ xnat_ldap_userdn }}
password={{ xnat_ldap_password }}
search.base={{ xnat_ldap_base }}
search.filter={{ xnat_ldap_filter }}
attributes.uid={{ xnat_ldap_attributes_uid }}
attributes.email={{ xnat_ldap_attributes_email }}
attributes.firstname={{ xnat_ldap_attributes_firstname }}
attributes.lastname={{ xnat_ldap_attributes_lastname }}
attributes.dumpContextOnException={{ xnat_ldap_attributes_dump_context_on_error }}
