name={{ xnat_ldap_name }}
provider.id=ldap1
auth.method=ldap
address={{ xnat_ldap_address }}
userdn={{ xnat_ldap_userdn }}
password={{ xnat_ldap_password }}
search.base={{ xnat_ldap_base }}
search.filter={{ xnat_ldap_filter }}
