---
# test this scenario from the roles/provision directory with the command
# molecule --base-config ../../molecule_configs/rocky9_base_config.yml test --scenario rocky9
platforms:
  - name: instance
    hostname: molecule.instance.local
    image: ${MOLECULE_DOCKER_IMAGE:-rockylinux/rockylinux:9-ubi-init}
    required: true
    command: ""
    cgroupns_mode: host
    privileged: true
    pre_build_image: ${MOLECULE_PRE_BUILD_IMAGE:-true}
    volumes:
      - ./molecule-data:/storage/molecule
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    keep_volumes: false
    groups:
      - all
      - molecule
      - rocky9
    docker_networks:
      - name: molecule
        ipam_config:
          - subnet: 192.168.56.0/24
            gateway: 192.168.56.1
    networks:
      - name: molecule
        ipv4_address: 192.168.56.2
    exposed_ports:
      - 80
      - 443
      - 8000
    published_ports:
      - 127.0.0.1:8080:80
