---
# mirsg.tomcat: selinux
selinux_enabled: false

# mirsg.tomcat: java settings
java_home: /usr/lib/jvm/jre
java_profile_d: /etc/profile.d

# mirsg.tomcat
tomcat_version: 9.0.82
tomcat_owner: tomcat
tomcat_group: tomcat

# mirsg.tomcat: webapp
tomcat_webapp_name: ROOT
tomcat_root: /usr/share/tomcat/webapps/{{ tomcat_webapp_name }}
tomcat_root_webapp: "{{ tomcat_root }}.war"
tomcat_binary_url: "https://archive.apache.org/dist/tomcat/tomcat-\
  {{ tomcat_version.split('.')[0] }}/v{{ tomcat_version }}/bin/\
  apache-tomcat-{{ tomcat_version }}.tar.gz"

# mirsg.tomcat catalina
tomcat_catalina_home: /usr/share/tomcat
tomcat_catalina_opts:
  "-Xms4G -Xmx6G -XX:MetaspaceSize=300M -XX:+UseG1GC -server"

# mirsg.tomcat configs
tomcat_config_file: "{{ tomcat_catalina_home }}/conf/tomcat.conf"
tomcat_server_config_file: "{{ tomcat_catalina_home }}/conf/server.xml"
tomcat_service_config_file: /etc/systemd/system/tomcat.service

# mirsg.tomcat ports
tomcat_hostname: localhost
tomcat_server_port: 8005
tomcat_catalina_port: 8983
tomcat_catalina_redirect_port: 8443
tomcat_shutdown_port: 8005
tomcat_port: 8080

# mirsg.tomcat backups
tomcat_backup_directory: /usr/share/tomcat_bkp
tomcat_items_to_restore:
  - "{{ tomcat_backup_directory }}/webapps"
  - "{{ tomcat_backup_directory }}/logs"
