---
# defaults file for ../ansible-role-dual-vm-firewalld
firewalld_allow_public_access: false

# IP ranges allowing HTTP/HTTPS
firewalld_internal_zone_open_services:
  - ssh
firewalld_public_zone_open_services:
firewalld_work_zone_open_services:

firewalld_internal_zone_closed_services:
  - samba-client
firewalld_public_zone_closed_services:
  - ssh
firewalld_work_zone_closed_services:
  - ssh

firewalld_internal_zone_sources:
firewalld_work_zone_sources:
firewalld_public_zone_sources:

firewalld_internal_zone_ports:
firewalld_public_zone_ports:
firewalld_work_zone_ports:

firewalld_close_zone_services:
  internal: "{{ firewalld_internal_zone_closed_services }}"
  public: "{{ firewalld_public_zone_closed_services }}"
  work: "{{ firewalld_work_zone_closed_services }}"

firewalld_open_zone_services:
  internal: "{{ firewalld_internal_zone_open_services }}"
  public: "{{ firewalld_public_zone_open_services }}"
  work: "{{ firewalld_work_zone_open_services }}"

firewalld_zone_sources:
  internal: "{{ firewalld_internal_zone_sources }}"
  public: "{{ firewalld_public_zone_sources }}"
  work: "{{ firewalld_work_zone_sources }}"

firewalld_zone_ports:
  internal: "{{ firewalld_internal_zone_ports }}"
  public: "{{ firewalld_public_zone_ports }}"
  work: "{{ firewalld_work_zone_ports }}"

# rich_rules should be a list of hashes
firewalld_rich_rules:
