---
- name: "Configure xnat-conf.properties"
  ansible.builtin.template:
    src: "xnat-conf.properties.j2"
    dest: "{{ xnat_config_dir }}/xnat-conf.properties"
    owner: "{{ xnat.owner }}"
    group: "{{ xnat.group }}"
    mode: "0644"
    force: true
  notify: Restart tomcat

- name: "Validate xnat_config.site_name: {{ xnat_config.site_name }}"
  ansible.builtin.assert:
    that:
      - xnat_config.site_name is match('^[A-Za-z][A-Za-z0-9_]*$')
    fail_msg: "xnat_config.site_name must start with a letter and contain only letters, numbers, and underscores"
    success_msg: "xnat_config.site_name is valid"

- name: "Configure prefs-init"
  ansible.builtin.template:
    src: "prefs-init.j2"
    dest: "{{ xnat_config_dir }}/prefs-init.ini"
    owner: "{{ xnat.owner }}"
    group: "{{ xnat.group }}"
    mode: "0644"
    force: true
  notify: Restart tomcat
