---
- name: Prepare - set baseurls for YUM repos and install sudo
  hosts: all:!omero_mail
  gather_facts: true
  tasks:
    - name: Update YUM repo baseurls
      ansible.builtin.include_role:
        name: mirsg.infrastructure.provision
        tasks_from: RedHat7.yml
      when: ansible_facts['distribution_major_version'] is version('7')

    - name: Install sudo
      ansible.builtin.package:
        name: sudo
        state: present

- name: Prepare - install and start crontabs on the db
  hosts: db
  become: true
  gather_facts: true
  tasks:
    - name: Install crontabs
      ansible.builtin.package:
        name: cronie
        state: present
    - name: Start crontabs service
      ansible.builtin.service:
        name: crond.service
        state: started
        enabled: true
    - name: Import postgresql RPM GPG key
      ansible.builtin.rpm_key:
        state: present
        key: https://apt.postgresql.org/pub/repos/yum/keys/PGDG-RPM-GPG-KEY-RHEL

- name: Prepare
  hosts: all:!omero_mail
  gather_facts: true
  tasks:
    - name: Install and configure firewalld
      block:
        - name: Install firewalld
          ansible.builtin.package:
            name: firewalld
            state: present

        - name: Change firewalld backend to iptables
          ansible.builtin.lineinfile:
            path: /etc/firewalld/firewalld.conf
            regexp: ^FirewallBackend=
            line: FirewallBackend=iptables
