---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install OMERO EL8 requirements
        run: |-
          ansible-galaxy install -r ./meta/omero-el8-requirements.yml

      - uses: UCL-MIRSG/.github/actions/linting@b64d71939f911a836dba3defa7ae062f97224b0a # v0
        with:
          ansible-roles-config: ./meta/requirements.yml
          pre-commit-config: ./.pre-commit-config.yaml
