---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install EL7 requirements
        run: |-
          ansible-galaxy install -r ./meta/el7-requirements.yml

      - name: Install EL9 requirements
        run: |-
          ansible-galaxy install -r ./meta/el9-requirements.yml

      - name: Install OMERO EL8 requirements
        run: |-
          ansible-galaxy install -r ./meta/omero-el8-requirements.yml

      - name: Install OMERO EL9 requirements
        run: |-
          ansible-galaxy install -r ./meta/omero-el9-requirements.yml

      - uses: UCL-MIRSG/.github/actions/linting@79137691d608fe39cb426c2adf7787768f00d5ee # v0
        with:
          pre-commit-config: ./.pre-commit-config.yaml
