---
name: Test install_xnat playbook

on:
  pull_request:
    paths:
      - molecule_configs/*
      - roles/xnat/**
      - roles/xnat_container_service/**
      - playbooks/install_xnat.yml
      - playbooks/molecule/**/xnat/**
      - .github/workflows/molecule-install-xnat.yml
  release:
    types:
      - published

jobs:
  molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        scenario:
          - centos7_xnat
          - rocky9_xnat
    env:
      PY_COLORS: 1
      ANSIBLE_FORCE_COLOR: 1
    steps:
      - name: Check out the codebase
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          path: ansible_collections/mirsg/infrastructure

      - name: Set up Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5
        with:
          python-version: 3.11

      - name: Install test dependencies
        run: |
          sudo apt-get update && sudo apt-get -y install rsync
          python3 -m pip install --upgrade pip
          python3 -m pip install \
          ansible \
          molecule \
          molecule-plugins[docker] \
          docker \
          requests

      - name: Test with molecule
        run: |
          cd ansible_collections/mirsg/infrastructure/playbooks
          molecule test --scenario-name  "${{ matrix.scenario }}"
