name: Test provision_accounts
on:
  pull_request:
    paths:
      - "roles/provision_accounts/**"
      - "playbooks/setup_user_accounts.yml"
      - "**/molecule.yml"
      - ".github/workflows/molecule-provision_accounts.yml"

jobs:
  molecule-provision-accounts:
    uses: ./.github/workflows/molecule.yml
    with:
      tests-path: ansible_collections/mirsg/infrastructure/roles/provision_accounts
