---
name: Test install_monitoring playbook

on:
  pull_request:
    paths:
      - molecule_configs/*
      - playbooks/**
      - roles/**
      - .github/workflows/molecule-monitoring.yml
      - "!**/README.md"

concurrency:
  cancel-in-progress: true
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number }}

jobs:
  molecule-monitoring:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        scenario:
          - centos7_monitoring
          - rocky9_monitoring
    env:
      MOLECULE_RUN_TAGS: all
      PY_COLORS: 1
      ANSIBLE_FORCE_COLOR: 1
      ANSIBLE_ROLES_PATH: ansible_collections/mirsg/infrastructure/roles

    steps:
      - uses: UCL-MIRSG/.github/actions/molecule-test@84b2c6715e331fe405f45faff062a6ce93f2a346 # v0.119.0
        with:
          ansible_major_version: ${{ vars.ANSIBLE_MAJOR_VERSION }}
          scenario: ${{ matrix.scenario }}
          checkout_path: ansible_collections/mirsg/infrastructure
          tests_path: ansible_collections/mirsg/infrastructure/playbooks
