---
name: Test install_monitoring playbook

on:
  pull_request:
    paths:
      - molecule_configs/*
      - playbooks/**
      - roles/**
      - meta/el7-requirements.yml
      - meta/el9-requirements.yml
      - .github/workflows/molecule-monitoring.yaml
      - "!**/README.md"

concurrency:
  cancel-in-progress: true
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number }}

jobs:
  molecule-monitoring:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: true
      matrix:
        scenario:
          - centos7_monitoring
          - rocky9_monitoring
    env:
      MOLECULE_RUN_TAGS: all
      PY_COLORS: 1
      ANSIBLE_FORCE_COLOR: 1
      ANSIBLE_ROLES_PATH: ansible_collections/mirsg/infrastructure/roles

    steps:
      - name:
          Edit apparmor profile for unix-chkpwd (see
          https://github.com/docker/build-push-action/issues/1302#issuecomment-3084652148)
        if: matrix.scenario == 'rocky9_monitoring'
        run: |-
          sudo sed -i \
            's/capability audit_write,$/&\n  # fix: read shadow permissions (linux-pam#686)\n  capability dac_read_search,/' \
            /etc/apparmor.d/unix-chkpwd
          sudo apparmor_parser -r /etc/apparmor.d/unix-chkpwd

      - uses: UCL-MIRSG/.github/actions/molecule-test@e16932bcb9189707188ea268d4605e042c2b5d9a # v0
        with:
          ansible_major_version: ${{ vars.ANSIBLE_MAJOR_VERSION }}
          scenario: ${{ matrix.scenario }}
          checkout_path: ansible_collections/mirsg/infrastructure
          tests_path: ansible_collections/mirsg/infrastructure/playbooks
