name: Test provision
on:
  pull_request:
    paths:
      - "roles/provision/**"
      - "**/molecule.yml"
      - ".github/workflows/molecule-provision.yml"

jobs:
  molecule-provision:
    uses: ./.github/workflows/molecule.yml
    with:
      tests-path: ansible_collections/mirsg/infrastructure/roles/provision
