---
name: Test install_omero playbook

on:
  pull_request:
    paths:
      - molecule_configs/*
      - playbooks/**
      - roles/**
      - meta/omero-el8-requirements.yml
      - meta/omero-el9-requirements.yml
      - .github/workflows/molecule-install-omero.yaml
      - "!**/README.md"
  release:
    types:
      - published

concurrency:
  cancel-in-progress: true
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number }}

jobs:
  molecule-install-omero:
    runs-on: ubuntu-24.04
    env:
      MOLECULE_RUN_TAGS: all
      PY_COLORS: 1
      ANSIBLE_FORCE_COLOR: 1
    strategy:
      matrix:
        rocky_version:
          - 8
          - 9

    steps:
      - name:
          Edit apparmor profile for unix-chkpwd (see
          https://github.com/docker/build-push-action/issues/1302#issuecomment-3084652148)
        run: |-
          sudo sed -i \
            's/capability audit_write,$/&\n  # fix: read shadow permissions (linux-pam#686)\n  capability dac_read_search,/' \
            /etc/apparmor.d/unix-chkpwd
          sudo apparmor_parser -r /etc/apparmor.d/unix-chkpwd

      - uses: UCL-MIRSG/.github/actions/molecule-test@e16932bcb9189707188ea268d4605e042c2b5d9a # v0
        env:
          ROCKY_VERSION: ${{ matrix.rocky_version }}
        with:
          ansible_major_version: 8
          scenario: rocky_omero
          checkout_path: ansible_collections/mirsg/infrastructure
          tests_path: ansible_collections/mirsg/infrastructure/playbooks
