---
name: Test firewalld

on:
  pull_request:
    paths:
      - molecule_configs/*
      - roles/firewalld/**
      - .github/workflows/molecule.yml
      - .github/workflows/molecule-firewalld.yml

jobs:
  molecule-firewalld:
    uses: ./.github/workflows/molecule.yml
    with:
      tests-path: ansible_collections/mirsg/infrastructure/roles/firewalld
