---
name: Test with Molecule

on:
  workflow_call:
    inputs:
      run-tags:
        type: string
        default: all
      tests-path:
        required: true
        type: string
      base-config-path:
        default: ../../molecule_configs/
        type: string

jobs:
  molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        scenario:
          - centos7
          - rocky9
    env:
      MOLECULE_RUN_TAGS: ${{ inputs.run-tags }}
      PY_COLORS: 1
      ANSIBLE_FORCE_COLOR: 1

    steps:
      - name: Run `molecule test`
        uses: UCL-MIRSG/.github/actions/molecule-test@f2439a7de7e04a251b95d44624d7e913a932d667 # v0.86.0
        with:
          scenario: ${{ matrix.scenario }}
          # yamllint disable-line rule:line-length
          base_config:
            ${{ format('{0}{1}_base_config.yml', inputs.base-config-path,
            matrix.scenario ) }}
          checkout_path: ansible_collections/mirsg/infrastructure
          tests_path: ${{ inputs.tests-path }}
          ansible_version: 9.6.0
