name: Test provision
on:
  pull_request:
    paths:
      - "roles/provision/**"
      - ".github/workflows/molecule.yml"
      - ".github/workflows/molecule-provision.yml"

jobs:
  molecule-provision:
    uses: ./.github/workflows/molecule.yml
    with:
      run_tags: provision
