---
external_storage_drive: "/storage/xnat"

# web server VM
# URL is localhost:8080
# Inside the Docker network, 8080 is the Tomcat port
# Outside the Docker network, 8080 maps to 80 (HTTP) on the web container
# This is necessary to allow redirects when accessing the WEB UI outside the
# Docker network, and to avoid CORS issues inside the network
web_server:
  host: "{{ hostvars['xnat_web']['hostname'] }}"
  url: "http://{{ hostvars['xnat_web']['hostname'] }}:8080"
  subnet: "192.168.56.0/24"
  ip: "{{ hostvars['xnat_web']['ansible_ip'] }}"
  storage_dir: "{{ external_storage_drive }}/data"

# database server VM
db_server:
  host: "{{ hostvars['xnat_db']['hostname'] }}"
  port: 5432
  listen_addresses: "*"
  postgresql_database: "xnat"
  postgresql_user: "xnat"
  postgresql_password: "{{ vault_postgres_xnat_password }}"
  storage_dir: "{{ external_storage_drive }}/pgsql"
  data_dir: "{{ external_storage_drive }}/pgsql/{{ postgresql_version }}/data"
  backups_dir: "{{ external_storage_drive }}/pgsql/backups"

# SSL certificate settings
ssl:
  use_ssl: false
  validate_certs: false

# XNAT configuration
xnat_config:
  site_name: MIRSG_XNAT
  site_description: <h1>MIRSG XNAT</h1><p>A test instance of XNAT.
  admin_password: "{{ vault_admin_password }}"
